{% extends 'base.html' %}

{% block css %}
<style>
  div {
    margin: 30px;
  }
</style>
{% endblock %}

{% block body %}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Service List
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/services/artii">artii</a>
      <a class="dropdown-item" href="/services/push">push</a>
    </div>
  </div>
{% endblock %}